{% extends "layout.html" %}

{% block content %}
    <div class="text-center">
      <p>
        Uso del CPU:
        <span class="badge rounded-pill text-bg-primary" id="cpu"></span>
      </p>
      <p>
        Uso del Disco Duro:
        <span class="badge rounded-pill text-bg-primary" id="disk"></span>
      </p>
      <p>
        Prediccion de falla:
        <span id="failure"></span>
      </p>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body" id="toastMessage">Hello, world! This is a toast message.</div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-database.js"></script>
    <script src="../static/main.js"></script>

{% endblock %}
